.description-ellipsis {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  /* height: 100px; */
}

.title-ellipsis {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  /* height: 100px; */
}

.b-example-divider {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.very-bottom {
  position: absolute;
  bottom: -70px;
}

.search {
}
.search-wrapper {
  min-height: 500px;
  border: 2px solid #eee;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.item a {
  color: inherit;
}
