{% extends 'base.html.twig' %}

{% block title %}Hello CollectionController!{% endblock %}

{% block body %}
    <div class="container px-4 py-5">
        <div class="collection__header pb-2 border-bottom d-flex justify-content-between">
            <h3>Collections</h3>
        </div>
        <div class="row g-4 py-3 row-cols-1 row-cols-lg-3">
            {% if not collections %}
                <h5 class="fw-normal">No collections yet</h5>
            {% else %}
                {% for collection in collections %}
                    <div class="Collection col">
                    <h4 class="fs-4 text-body-emphasis title-ellipsis">{{ collection.name }}</h4>
                    <p class="description-ellipsis">{{collection.description}}</p>
                    <a href="{{ path('app_collection', {id: collection.id}) }}" class="icon-link">
                    View
                    </a>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
